.root {
    :global {
    
    }
  
    width: 1080px;
    min-width: 600px;
    height: 800px;
    border-radius: 20px;

    background-color: white;

    margin-top: 20px;
  color: rgb(195,178,178);
  
  }
  