.root {
  margin: 20px;
  width: 100%;
  height: 94vh;
  overflow: auto;
  :global {
    .ant-form-horizontal {
      .list {
        display: flex;
        justify-content: center;
      }
    }
  }
}
