.root{
    margin: 0;
	padding: 0;
    height: 70%;
	width: 50%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
/* 	margin: auto ; */
    margin-top: 100px;
    margin-left: 320px;
    // background-color: aqua;
    :global{
        .ant-table-thead > tr > th {
            color:#999

        }
    }
}